<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Shopping Cart</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th colspan="4">Actions</th>
          </tr>
        </thead>
        <% if @cart.nil? || @cart.empty? %>
          <p>Your cart is empty.</p>
        <% else %>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.title %></td>
              <td><%= order_item.quantity %></td>
              <td><%= number_to_currency(order_item.price, precision: 2) %></td>
              <td><%= number_to_currency(order_item.quantity * order_item.price, precision: 2) %></td>
            <td>
            <div>
              <div class="d-flex ">
                <%= link_to "Buy", customer_single_checkout_path(order_item), class: "btn btn-primary me-2", data: { turbo_method: :post } %>
                <%= button_to "Add to Cart", customer_add_to_cart_path(order_item), class: "btn btn-success" %>
              </div>
            </div>
            </td>
            </tr>
          <% end %>
        </tbody>
        <% end %>
      </table>
      <br>
      <hr>
      <table class="table">
        <tbody>
          <tr>
            <td class="text-right">Subtotal:</td>
            <td class="text-right"><%= number_to_currency(@total_amount || 0, precision: 2) %></td>
          </tr>
          <tr>
            <td class="text-right">Tax (10%):</td>
            <td class="text-right"><%= number_to_currency((@total_amount || 0) * 0.1, precision: 2) %></td>
          </tr>
          <tr>
            <td class="text-right">Total:</td>
            <td class="text-right"><%= number_to_currency((@total_amount || 0) * 1.1, precision: 2) %></td>
          </tr>
          <tr>
            <td class="text-right"></td>
            <td class="text-right"><%= link_to "Proceed To Checkout", customer_cart_checkout_path, class: "btn btn-primary #{ @total_amount.blank? ? 'disabled' : '' }" %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
