<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Products List</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-compact w-full border border-gray-300 rounded-lg ">
      <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 border-b border-gray-300">Title</th>
        <th class="px-6 py-3 border-b border-gray-300">Price</th>
        <th class="px-6 py-3 border-b border-gray-300">Stock</th>
        <th class="px-6 py-3 border-b border-gray-300">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr class="hover:bg-gray-100">
          <td class="px-6 py-4 border-b border-gray-300">
            <%= image_tag(product.image_url, class: "rounded-full me-2", width: 50, height: 50) %>
            <%= product.title %>
          </td>
          <td class="px-6 py-4 border-b border-gray-300">$<%= number_with_precision(product.price, precision: 2) %></td>
          <td class="px-6 py-4 border-b border-gray-300"><%= product.stock %></td>
          <td class="px-6 py-4 border-b border-gray-300">
            <div class="card-footer d-flex ">
              <%= link_to "View", customer_product_path(product), class: "btn btn-sm btn-light rounded-full me-2 px-4 py-2" %>
              <% if product.stock > 0 %>
                <%= link_to "Buy", customer_single_checkout_path(product), class: "btn btn-primary", data: { turbo_method: :post } %>
                <%= button_to "Add to Cart", customer_add_to_cart_path(product), class: "btn btn-success ms-2" %>
              <% else %>
                <p class="text-danger">Out of Stock</p>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
